body{

}
.receipt-container{
    
}
.logo {
    height: 140px;
    display: block;
    margin: 0 auto;
}

.brand-name {
    margin: 0;
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}